.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
birds.Rproj
/prelim_run
/second_run
/analysis_demo
/manuscript
birds_vs_mammals/data_Nov2021
*.docx
*.xlsx
*.pdf
*.png
*.eps
*.rda
birddata_cleaning.R
